.header-slider {
    overflow: hidden;

    @include md-min {
        grid-template-rows: minmax(500px, max-content) 100px;
    }

    @include md {
        grid-template-rows: minmax(300px, max-content) 80px;
    }
}

.slides {
    position: relative;
}

.slide {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: grid;
    padding-top: $gap;
    transform: translateX(100vw);
    transition: transform 0.5s;

    grid-row-gap: $gap;
    grid-template-rows: minmax(106px, max-content) auto 1fr auto;

    @include lg-min {
        grid-column-gap: 180px;
        grid-template-columns: 1fr auto;
        grid-template-areas: "ttl img" "stl img" "dsc img" "brd img";
    }

    @include lg-md {
        grid-column-gap: 60px;
        grid-template-columns: 1fr auto;
        grid-template-areas: "ttl img" "stl img" "dsc img" "brd img";
    }

    @include md-sm {
        grid-column-gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "ttl img" "stl img" "dsc img" "brd img";
    }

    @include sm {
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "ttl ttl" "stl stl" "dsc img" "brd brd";
    }




    &.active {
        position: relative;
        z-index: 1;
        transform: translateX(0);
    }

    &.moved {
        z-index: 1;
        transform: translateX(-100vw);
    }

    &__title {
        grid-area: ttl;
        margin: 0;
        font-size: 2rem;
        align-self: end;
    }

    &__subtitle {
        grid-area: stl;
        margin: 0;
        font-size: 1.25rem;
    }

    &__description {
        grid-area: dsc;
        margin: 0;
        line-height: 1.25;
        color: $color-gray;

    }

    &__brands {
        grid-area: brd;
        display: flex;

        @include unlist(($gap * 0.85) 0 4px);

        @include sm {
            justify-content: center;
        }

        li:not(:last-of-type) {
            margin-right: $gap * 1.75;
        }

        i {
            font-size: 2.75rem;
        }

        a {
            &:hover,
            &:focus {
                text-shadow: 0 0 15px $color-light;
            }
        }

    }

    &__image {
        grid-area: img;
        padding-top: 4px;

        @include md-min {
            margin-right: $gap * 1.5;
        }

        @include md {
            img {
                max-width: 100%;
            }
        }

    }
}

.indicators {
    @include unlist;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator {
    width: $gap * 0.75;
    height: $gap * 0.75;
    margin: -9px 3px 0;
    cursor: pointer;
    background-color: $color-light;
    border-radius: $gap * 0.375;
    opacity: 0.5;

    &.active {
        opacity: 1;
    }

}